{%  extends "::layout.html.twig" %}

{% block title %}
       Annonces - parent()
{% endblock%}

{%  block body %}

     <h1>Nos Annonces </h1>
      <hr>
    {%  block alplatform_body %}
    {% endblock %}

{%  endblock %}